[Unit]
Description=minder website
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/gunicorn -k uvicorn.workers.UvicornWorker serve:app -b 0.0.0.0:8001
WorkingDirectory=/home/uli/minder/
Restart=always
User=uli
Restart=always
RestartSec=10
StartLimitBurst=3
StartLimitInterval=400



